/*
    CSS Challenge - ZENGARDEN
*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700");
/* line 22, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 28, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
html,
body {
  color: #111;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* line 35, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
h1 {
  font-size: 18px;
  color: #e2dcc7;
  font-family: "Crimson Text", serif;
  font-weight: 700;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 1px solid #e2dcc7;
  padding: 20px 15px 15px 15px;
  z-index: 9;
}

/* line 48, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
h2 {
  font-size: 18px;
  color: #e2dcc7;
  font-weight: 300;
  font-family: "Crimson Text", serif;
  position: absolute;
  letter-spacing: 7px;
  top: 31px;
  left: 0;
  right: 0;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 31px;
  margin-top: -31px;
  padding-bottom: 31px;
}

/* line 65, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
h3 {
  font-family: "Crimson Text", serif;
  font-size: 150%;
}

/* line 70, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
p {
  line-height: 140%;
  font-size: 17px;
}

/* line 75, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("../img/sea-min.jpeg");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
  text-align: center;
}

/* line 82, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
header:after {
  height: 100px;
  width: 100%;
  background-color: #000;
}

/* line 89, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
abbr {
  text-decoration: none;
}

/* line 93, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
.summary {
  position: absolute;
  top: 27vh;
  left: 50%;
  margin-left: -485px;
  width: 970px;
}

/* line 99, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
.summary p:first-child {
  font-size: 300%;
  border-left: 2px dotted #e2dcc7;
  padding-left: 20px;
  line-height: 155%;
  color: #fff;
}

/* line 106, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
.summary p:last-child {
  padding: 25px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 15px;
  margin-top: 85px;
  color: #fff;
  text-align: center;
}

/* line 114, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
.summary p:last-child a {
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  margin: 0 12px 0 12px;
  color: #c0b283;
  text-decoration: none;
  border: 1px solid #c0b283;
  transition: background-color 0.2s, color 0.2s;
}

/* line 123, C:/Users/avery/Documents/Web Projects/zengarden/scss/style.scss */
.summary p:last-child a:hover {
  background-color: rgba(192, 178, 131, 0.6);
  color: #fff;
  border: 1px solid rgba(192, 178, 131, 0.6);
}

/*# sourceMappingURL=../css/style.map */