//////////////////////////////////////////////////////////////
/*
    CSS Challenge - ZENGARDEN
*/

//////////////////////////////////////////////////////////////
$font-stack: "Lato", sans-serif;
$font-crimson: "Crimson Text", serif;
$font-julius: "Julius Sans One", sans-serif;

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #111;
    font-family: $font-crimson;
    font-weight: 300;
}

h1 {
    font-family: $font-julius;
    font-weight: 300;
    font-size: 400%;
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    &:after {
        content: "";
        display: block;
        width: 50px;
        background-color: #e1e1e1;
        height: 1px;
        margin: 0 auto;
        margin-top: 10px;
    }
}

h2 {
    font-weight: 300;
    position: absolute;
    top: 22vh;
    left: 0;
    right: 0;
    text-transform: uppercase;
}

h3 {
    font-family: $font-julius;
    font-size: 150%;
}

p {
    line-height: 140%;
    font-size: 17px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("https://static.pexels.com/photos/378150/pexels-photo-378150.jpeg");
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    text-align: center;
}

abbr {
    text-decoration: none;
}

.summary {
    position: absolute;
    top: 60vh;
    left: 0;
    right: 0;
    p {
        border-left: 2px dotted #999;
        padding-left: 20px;
        line-height: 155%;
        color: #fff;
    }
}




////////////////////////////////////////////////////////////////////////
//* {
//    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
//    border: 4px dotted red;
//}
//
//header,
//.preamble,
//.participation,
//.requirements,
//.sidebar {
//    transform: rotate(355deg);
//}
//
//.summary,
//.explanation,
//.benefits,
//footer {
//    transform: rotate(5deg);
//}
